<div class="container">
  <button {{action 'showRouteMap'}}>Show Route Map</button>

  <button name="viewAll" {{action 'viewAll' }} class="btn active">View All</button>

  <button name="isLandmark" {{action 'isCategory' model 'Landmark'}} class="btn">Landmarks</button>

  <button name="isPark" {{action 'isCategory' model 'Park'}} class="btn">Parks</button>

  <button name="isEntertainment" {{action 'isCategory' model 'Entertainment'}} class="btn">Entertainment</button>

  <button name="isFood" {{action 'isCategory' model 'Food'}} class="btn">Food</button>

  <button name="isStore" {{action 'isCategory' model 'Store'}} class="btn">Store</button>

  <button name="isBars" {{action 'isCategory' model 'Bar'}} class="btn">Bars</button>

  <button name="isHotel" {{action 'isCategory' model 'Hotel'}} class="btn">Hotels</button>

  <button name="isMuseum" {{action 'isCategory' model 'Museum'}} class="btn">Museums</button>
</div>

<div class="map-display"></div>
