{{#if addNewLocation}}
  <form>
    <div class="form-group">
      <label for="name">Name</label>
      {{input value=name id="name"}}
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      {{input value=description id="description"}}
    </div>
    <div class="form-group">
      <label for="latitude">Latitude</label>
      {{input value=latitude id="latitude"}}
    </div>
    <div class="form-group">
      <label for="longitude">Longitude</label>
      {{input value=longitude id="longitude"}}
    </div>
    <div class="form-group">
      <label for="category">Category</label>
      <select onchange={{action "selectCategory" value="target.value"}}>
        <option value='Other'>Other</option>
        <option value='Landmark'>Landmark</option>
        <option value='Park'>Park</option>
        <option value='Entertainment'>Entertainment</option>
        <option value='Food'>Food</option>
        <option value='Store'>Store</option>
        <option value='Bar'>Bar</option>
        <option value='Hotel'>Hotel</option>
        <option value='Museum'>Museum</option>
      </select>
    </div>
    <div class="form-group">
      <label for="website">Website</label>
      {{input value=website id="website"}}
    </div>
    <div class="form-group">
      <label for="streetview">Street View Link</label>
      {{input value=streetview id="streetview"}}
    </div>
    <button {{action 'saveLocation' location}} class="btn btn-primary">Save</button>
  </form>
{{else}}
  <button {{action 'locationFormShow'}} class="btn btn-primary">New Location</button>
{{/if}}
